### Preprocessing the Data for a Neural Network

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
from pathlib import Path

#  Import and read the charity_data.csv.

# Loading data USING CSV that contains cleanded values for MaritalStatus and Gender 
file_path = Path("../Resources/TravelCleanedSkiLearnImputer.csv")
vacay_df = pd.read_csv(file_path)
vacay_df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.000000,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.000000,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Single,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.000000,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.000000,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Single,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,37.622265,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Single,1.0,0,5,1,0.0,Executive,18468.0

In [2]:
# Drop the non-beneficial ID columns,
vacay_df = vacay_df.drop(["CustomerID","Designation","NumberOfPersonVisiting","NumberOfChildrenVisiting"],axis = 1)
vacay_df.head()

,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,MonthlyIncome
0,1,41.000000,Self Enquiry,3,6.0,Salaried,Female,3.0,Deluxe,3.0,Single,1.0,1,2,1,20993.0
1,0,49.000000,Company Invited,1,14.0,Salaried,Male,4.0,Deluxe,4.0,Single,2.0,0,3,1,20130.0
2,1,37.000000,Self Enquiry,1,8.0,Free Lancer,Male,4.0,Basic,3.0,Single,7.0,1,3,0,17090.0
3,0,33.000000,Company Invited,1,9.0,Salaried,Female,3.0,Basic,3.0,Single,2.0,1,5,1,17909.0
4,0,37.622265,Self Enquiry,1,8.0,Small Business,Male,3.0,Basic,4.0,Single,1.0,0,5,1,18468.0

In [3]:
# Determine the number of unique values in each column.
vacay_df.nunique()

ProdTaken                    2
Age                         45
TypeofContact                2
CityTier                     3
DurationOfPitch             35
Occupation                   4
Gender                       2
NumberOfFollowups            7
ProductPitched               5
PreferredPropertyStar        4
MaritalStatus                2
NumberOfTrips               13
Passport                     2
PitchSatisfactionScore       5
OwnCar                       2
MonthlyIncome             2476
dtype: int64

In [4]:
# Generate our categorical variable lists
vacay_cat = vacay_df.dtypes[vacay_df.dtypes == "object"].index.tolist()
vacay_cat

['TypeofContact', 'Occupation', 'Gender', 'ProductPitched', 'MaritalStatus']

In [5]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(vacay_df[vacay_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(vacay_cat)
encode_df.head()

,TypeofContact_Company Invited,TypeofContact_Self Enquiry,Occupation_Free Lancer,Occupation_Large Business,Occupation_Salaried,Occupation_Small Business,Gender_Female,Gender_Male,ProductPitched_Basic,ProductPitched_Deluxe,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,MaritalStatus_Married,MaritalStatus_Single
0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [6]:
# Merge one-hot encoded features and drop the originals
vacay_df = vacay_df.merge(encode_df, left_index=True, right_index=True)
vacay_df = vacay_df.drop(vacay_cat,1)
vacay_df.head()

,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,...,Occupation_Small Business,Gender_Female,Gender_Male,ProductPitched_Basic,ProductPitched_Deluxe,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,MaritalStatus_Married,MaritalStatus_Single
0,1,41.000000,3,6.0,3.0,3.0,1.0,1,2,1,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0,49.000000,1,14.0,4.0,4.0,2.0,0,3,1,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
2,1,37.000000,1,8.0,4.0,3.0,7.0,1,3,0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0,33.000000,1,9.0,3.0,3.0,2.0,1,5,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0,37.622265,1,8.0,3.0,4.0,1.0,0,5,1,...,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
# Split our preprocessed data into our features and target arrays
y = vacay_df["ProdTaken"].values
X = vacay_df.drop(["ProdTaken"],1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=78)

In [8]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### Compile, Train and Evaluate the Model

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))


# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                2080

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 4,541
Trainable params: 4,541
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

#Define the checkpoint path and filenames
#os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path = "checkpoints/weights.{epoch:02d}.hdf5"

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    save_freq = 'epoch',
    period = 5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [22]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50,callbacks= [cp_callback])

Epoch 1/50
115/115 [==============================] - 1s 714us/step - loss: 0.4727 - accuracy: 0.7845
Epoch 2/50
115/115 [==============================] - 0s 658us/step - loss: 0.3734 - accuracy: 0.8434
Epoch 3/50
115/115 [==============================] - 0s 650us/step - loss: 0.3516 - accuracy: 0.8532
Epoch 4/50
115/115 [==============================] - 0s 658us/step - loss: 0.3350 - accuracy: 0.8595
Epoch 5/50
 76/115 [==================>...........] - ETA: 0s - loss: 0.3244 - accuracy: 0.8651
Epoch 5: saving model to checkpoints\weights.05.hdf5
115/115 [==============================] - 0s 2ms/step - loss: 0.3223 - accuracy: 0.8647
Epoch 6/50
115/115 [==============================] - 0s 658us/step - loss: 0.3094 - accuracy: 0.8691
Epoch 7/50
115/115 [==============================] - 0s 676us/step - loss: 0.2984 - accuracy: 0.8762
Epoch 8/50
115/115 [==============================] - 0s 658us/step - loss: 0.2864 - accuracy: 0.8794
Epoch 9/50
115/115 [==============================] - 0s 658us/step - loss: 0.2749 - accuracy: 0.8852
Epoch 10/50
 77/115 [===================>..........] - ETA: 0s - loss: 0.2592 - accuracy: 0.8933
Epoch 10: saving model to checkpoints\weights.10.hdf5
115/115 [==============================] - 0s 819us/step - loss: 0.2615 - accuracy: 0.8931
Epoch 11/50
115/115 [==============================] - 0s 676us/step - loss: 0.2489 - accuracy: 0.8983
Epoch 12/50
115/115 [==============================] - 0s 685us/step - loss: 0.2354 - accuracy: 0.9056
Epoch 13/50
115/115 [==============================] - 0s 676us/step - loss: 0.2228 - accuracy: 0.9133
Epoch 14/50
115/115 [==============================] - 0s 720us/step - loss: 0.2136 - accuracy: 0.9195
Epoch 15/50
 73/115 [==================>...........] - ETA: 0s - loss: 0.1877 - accuracy: 0.9285
Epoch 15: saving model to checkpoints\weights.15.hdf5
115/115 [==============================] - 0s 877us/step - loss: 0.1983 - accuracy: 0.9217
Epoch 16/50
115/115 [==============================] - 0s 685us/step - loss: 0.1912 - accuracy: 0.9264
Epoch 17/50
115/115 [==============================] - 0s 658us/step - loss: 0.1750 - accuracy: 0.9384
Epoch 18/50
115/115 [==============================] - 0s 659us/step - loss: 0.1652 - accuracy: 0.9405
Epoch 19/50
115/115 [==============================] - 0s 667us/step - loss: 0.1552 - accuracy: 0.9463
Epoch 20/50
 76/115 [==================>...........] - ETA: 0s - loss: 0.1439 - accuracy: 0.9552
Epoch 20: saving model to checkpoints\weights.20.hdf5
115/115 [==============================] - 0s 923us/step - loss: 0.1456 - accuracy: 0.9523
Epoch 21/50
115/115 [==============================] - 0s 676us/step - loss: 0.1375 - accuracy: 0.9569
Epoch 22/50
115/115 [==============================] - 0s 658us/step - loss: 0.1304 - accuracy: 0.9588
Epoch 23/50
115/115 [==============================] - 0s 676us/step - loss: 0.1201 - accuracy: 0.9621
Epoch 24/50
115/115 [==============================] - 0s 676us/step - loss: 0.1115 - accuracy: 0.9667
Epoch 25/50
 78/115 [===================>..........] - ETA: 0s - loss: 0.1048 - accuracy: 0.9700
Epoch 25: saving model to checkpoints\weights.25.hdf5
115/115 [==============================] - 0s 796us/step - loss: 0.1058 - accuracy: 0.9689
Epoch 26/50
115/115 [==============================] - 0s 667us/step - loss: 0.0996 - accuracy: 0.9714
Epoch 27/50
115/115 [==============================] - 0s 658us/step - loss: 0.0913 - accuracy: 0.9746
Epoch 28/50
115/115 [==============================] - 0s 650us/step - loss: 0.0894 - accuracy: 0.9730
Epoch 29/50
115/115 [==============================] - 0s 650us/step - loss: 0.0799 - accuracy: 0.9787
Epoch 30/50
 79/115 [===================>..........] - ETA: 0s - loss: 0.0752 - accuracy: 0.9818
Epoch 30: saving model to checkpoints\weights.30.hdf5
115/115 [==============================] - 0s 915us/step - loss: 0.0769 - accuracy: 0.9806
Epoch 31/50
115/115 [==============================] - 0s 676us/step - loss: 0.0707 - accuracy: 0.9825
Epoch 32/50
115/115 [==============================] - 0s 667us/step - loss: 0.0666 - accuracy: 0.9855
Epoch 33/50
115/115 [==============================] - 0s 659us/step - loss: 0.0624 - accuracy: 0.9875
Epoch 34/50
115/115 [==============================] - 0s 676us/step - loss: 0.0597 - accuracy: 0.9861
Epoch 35/50
 78/115 [===================>..........] - ETA: 0s - loss: 0.0502 - accuracy: 0.9904
Epoch 35: saving model to checkpoints\weights.35.hdf5
115/115 [==============================] - 0s 945us/step - loss: 0.0556 - accuracy: 0.9877
Epoch 36/50
115/115 [==============================] - 0s 667us/step - loss: 0.0515 - accuracy: 0.9883
Epoch 37/50
115/115 [==============================] - 0s 650us/step - loss: 0.0512 - accuracy: 0.9877
Epoch 38/50
115/115 [==============================] - 0s 676us/step - loss: 0.0457 - accuracy: 0.9888
Epoch 39/50
115/115 [==============================] - 0s 685us/step - loss: 0.0453 - accuracy: 0.9905
Epoch 40/50
 76/115 [==================>...........] - ETA: 0s - loss: 0.0404 - accuracy: 0.9922
Epoch 40: saving model to checkpoints\weights.40.hdf5
115/115 [==============================] - 0s 948us/step - loss: 0.0402 - accuracy: 0.9921
Epoch 41/50
115/115 [==============================] - 0s 711us/step - loss: 0.0405 - accuracy: 0.9905
Epoch 42/50
115/115 [==============================] - 0s 650us/step - loss: 0.0370 - accuracy: 0.9937
Epoch 43/50
115/115 [==============================] - 0s 676us/step - loss: 0.0328 - accuracy: 0.9940
Epoch 44/50
115/115 [==============================] - 0s 658us/step - loss: 0.0329 - accuracy: 0.9935
Epoch 45/50
 74/115 [==================>...........] - ETA: 0s - loss: 0.0275 - accuracy: 0.9958
Epoch 45: saving model to checkpoints\weights.45.hdf5
115/115 [==============================] - 0s 929us/step - loss: 0.0298 - accuracy: 0.9945
Epoch 46/50
115/115 [==============================] - 0s 676us/step - loss: 0.0289 - accuracy: 0.9948
Epoch 47/50
115/115 [==============================] - 0s 676us/step - loss: 0.0250 - accuracy: 0.9965
Epoch 48/50
115/115 [==============================] - 0s 702us/step - loss: 0.0255 - accuracy: 0.9962
Epoch 49/50
115/115 [==============================] - 0s 685us/step - loss: 0.0240 - accuracy: 0.9959
Epoch 50/50
 74/115 [==================>...........] - ETA: 0s - loss: 0.0233 - accuracy: 0.9962
Epoch 50: saving model to checkpoints\weights.50.hdf5
115/115 [==============================] - 0s 896us/step - loss: 0.0227 - accuracy: 0.9965

In [23]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

39/39 - 0s - loss: 0.1792 - accuracy: 0.9403 - 84ms/epoch - 2ms/step
Loss: 0.17919979989528656, Accuracy: 0.9402618408203125

In [ ]:
#Export our model to HDF5 file
#nn.save("test.h5")