## This is a mockup of the machine learning model we consider using for our project. ##
### We have encoded the dateset and scaled it, but the data has not been cleaned or otherwise preprocessed yet.

In [1]:
# Initial imports
import pandas as pd
import numpy as np
from path import Path
from sklearn import tree
from config import db_password
from sqlalchemy import create_engine

from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler,OneHotEncoder

#### To upload the data we create a connection to Postgres/PGadmin.

In [2]:
#create connection string
#db_string =f'postgresql://postgres:{db_password}@127.0.0.1:5432/Project Insights on the Beach'
#engine = create_engine(db_string)
#read in the SQL data/ We dropped the customer_Id because it does not bring value to the analysis
#df= pd.read_sql_query('''SELECT*FROM cust_marketing_table;''',engine)
#df

In [3]:
# Loading data USING CSV that contains cleanded values for MaritalStatus and Gender and dropped OwnCar
file_path = Path("../Resources/TravelCleanedSkiLearnImputer.csv")
df = pd.read_csv(file_path)
df.head()

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Single,2.0,0,3,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Single,2.0,1,5,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Single,1.0,0,5,0.0,Executive,18468.0

In [4]:
# Generate our categorical variable list
df_cat = df.dtypes[df.dtypes == "object"].index.tolist()

# Check the number of unique values in each column
df[df_cat].nunique()

TypeofContact     2
Occupation        4
Gender            2
ProductPitched    5
MaritalStatus     2
Designation       5
dtype: int64

In [8]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(df[df_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(df_cat)
encode_df.head()

,TypeofContact_Company Invited,TypeofContact_Self Enquiry,TypeofContact_nan,Occupation_Free Lancer,Occupation_Large Business,Occupation_Salaried,Occupation_Small Business,Gender_Female,Gender_Male,ProductPitched_Basic,...,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,MaritalStatus_Married,MaritalStatus_Single,Designation_AVP,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP
0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
df = df.merge(encode_df,left_index=True, right_index=True)
df = df.drop(df_cat,1)
df.head()

C:\Users\cthompson\AppData\Local\Continuum\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,CustomerID,ProdTaken,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,...,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,MaritalStatus_Married,MaritalStatus_Single,Designation_AVP,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP
0,200000,1,41.0,3,6.0,3,3.0,3.0,1.0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,200001,0,49.0,1,14.0,3,4.0,4.0,2.0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,200002,1,37.0,1,8.0,3,4.0,3.0,7.0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,200003,0,33.0,1,9.0,2,3.0,3.0,2.0,1,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4,200004,0,NaN,1,8.0,2,3.0,4.0,1.0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [10]:
#How many Null Values are there per Column
df.isnull().sum(axis=0)

CustomerID                         0
ProdTaken                          0
Age                              226
CityTier                           0
DurationOfPitch                  251
NumberOfPersonVisiting             0
NumberOfFollowups                 45
PreferredPropertyStar             26
NumberOfTrips                    140
Passport                           0
PitchSatisfactionScore             0
NumberOfChildrenVisiting          66
MonthlyIncome                    233
TypeofContact_Company Invited      0
TypeofContact_Self Enquiry         0
TypeofContact_nan                  0
Occupation_Free Lancer             0
Occupation_Large Business          0
Occupation_Salaried                0
Occupation_Small Business          0
Gender_Female                      0
Gender_Male                        0
ProductPitched_Basic               0
ProductPitched_Deluxe              0
ProductPitched_King                0
ProductPitched_Standard            0
ProductPitched_Super Deluxe        0
MaritalStatus_Married              0
MaritalStatus_Single               0
Designation_AVP                    0
Designation_Executive              0
Designation_Manager                0
Designation_Senior Manager         0
Designation_VP                     0
dtype: int64

## For the mock up we just drop the null Values. We will decide during the further process how these should be imputed.

In [11]:
#For evaluation of model just drop all rows with NaN - better method to be evaluated during analysis
df =df.dropna()
df.isnull().sum(axis=0)

CustomerID                       0
ProdTaken                        0
Age                              0
CityTier                         0
DurationOfPitch                  0
NumberOfPersonVisiting           0
NumberOfFollowups                0
PreferredPropertyStar            0
NumberOfTrips                    0
Passport                         0
PitchSatisfactionScore           0
NumberOfChildrenVisiting         0
MonthlyIncome                    0
TypeofContact_Company Invited    0
TypeofContact_Self Enquiry       0
TypeofContact_nan                0
Occupation_Free Lancer           0
Occupation_Large Business        0
Occupation_Salaried              0
Occupation_Small Business        0
Gender_Female                    0
Gender_Male                      0
ProductPitched_Basic             0
ProductPitched_Deluxe            0
ProductPitched_King              0
ProductPitched_Standard          0
ProductPitched_Super Deluxe      0
MaritalStatus_Married            0
MaritalStatus_Single             0
Designation_AVP                  0
Designation_Executive            0
Designation_Manager              0
Designation_Senior Manager       0
Designation_VP                   0
dtype: int64

In [12]:
# Define the features set.
X = df.copy()
X = X.drop("ProdTaken", axis=1)
X

,CustomerID,Age,CityTier,DurationOfPitch,NumberOfPersonVisiting,NumberOfFollowups,PreferredPropertyStar,NumberOfTrips,Passport,PitchSatisfactionScore,...,ProductPitched_King,ProductPitched_Standard,ProductPitched_Super Deluxe,MaritalStatus_Married,MaritalStatus_Single,Designation_AVP,Designation_Executive,Designation_Manager,Designation_Senior Manager,Designation_VP
0,200000,41.0,3,6.0,3,3.0,3.0,1.0,1,2,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
1,200001,49.0,1,14.0,3,4.0,4.0,2.0,0,3,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
2,200002,37.0,1,8.0,3,4.0,3.0,7.0,1,3,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
3,200003,33.0,1,9.0,2,3.0,3.0,2.0,1,5,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
5,200005,32.0,1,8.0,3,3.0,3.0,1.0,0,5,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,49.0,3,9.0,3,5.0,4.0,2.0,1,1,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4884,204884,28.0,1,31.0,4,5.0,3.0,3.0,1,3,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4885,204885,52.0,3,17.0,4,4.0,4.0,7.0,0,1,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4886,204886,19.0,3,16.0,3,4.0,3.0,3.0,0,5,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
4887,204887,36.0,1,14.0,4,4.0,4.0,3.0,1,3,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0

In [13]:
# Define the target set.
y = df["ProdTaken"].values

In [14]:
#Split into Training and Testing Set
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
# Splitting into Train and Test sets into an 80/20 split.
X_train2, X_test2, y_train2, y_test2 = train_test_split(X, y, random_state=78, train_size=0.80)

In [16]:
# Determine the shape of our training and testing sets.
print(X_train2.shape)
print(X_test2.shape)
print(y_train2.shape)
print(y_test2.shape)

(3302, 33)
(826, 33)
(3302,)
(826,)

In [17]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [18]:
#Test if train set scaled
print(np.mean(X_train_scaled[:,0]))
print(np.std(X_train_scaled[:,0]))

8.53867651290521e-15
0.9999999999999998

In [19]:
#Test if test set scaled
print(np.mean(X_test_scaled[:,0]))
print(np.std(X_test_scaled[:,0]))

-0.0862533763220096
1.021973313244985

## Using a basic Decision Tree model to test

In [20]:
# Creating the decision tree classifier instance.
model = tree.DecisionTreeClassifier()
# Fitting the model.
model = model.fit(X_train_scaled, y_train)

In [21]:
# Making predictions using the testing data.
predictions = model.predict(X_test_scaled)
predictions

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [22]:
# Calculating the confusion matrix
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df

          Predicted 0  Predicted 1
Actual 0          792           56
Actual 1           45          139

In [23]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)
acc_score

0.9021317829457365

In [24]:
# Displaying Classification report
print("Classification Report")
print(classification_report(y_test, predictions))

Classification Report
              precision    recall  f1-score   support

           0       0.95      0.93      0.94       848
           1       0.71      0.76      0.73       184

    accuracy                           0.90      1032
   macro avg       0.83      0.84      0.84      1032
weighted avg       0.90      0.90      0.90      1032

## Test Ensemble Learning

The concept of ensemble learning is the process of combining multiple models,to help improve the accuracy and robustness, as well as decrease variance of the model, and therefore increase the overall performance of the model.
### Random Forests
We would also want to test a Random Forest algorithm, because instead of having a single, complex tree like the ones created by decision trees, a random forest algorithm will sample the data and build several smaller, simpler decision trees. Each tree is simpler because it is built from a random subset of features.Are robust against overfitting as all of those weak learners are trained on different pieces of the data.

In [25]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

In [26]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [27]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [28]:
# Calculating the confusion matrix.
cm2 = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm2_df = pd.DataFrame(
    cm2, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm2_df

          Predicted 0  Predicted 1
Actual 0          839            9
Actual 1           75          109

In [29]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [30]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0          792           56
Actual 1           45          139

Accuracy Score : 0.9186046511627907
Classification Report
              precision    recall  f1-score   support

           0       0.92      0.99      0.95       848
           1       0.92      0.59      0.72       184

    accuracy                           0.92      1032
   macro avg       0.92      0.79      0.84      1032
weighted avg       0.92      0.92      0.91      1032

In [31]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.11610955, 0.11825045, 0.03294008, 0.09203072, 0.02577221,
       0.04455672, 0.03608047, 0.05680142, 0.07641676, 0.05189596,
       0.02816587, 0.11020224, 0.01500729, 0.0147556 , 0.        ,
       0.00026476, 0.01561332, 0.01732056, 0.01675255, 0.01664753,
       0.01581985, 0.01697906, 0.00793548, 0.00099023, 0.00542086,
       0.00283015, 0.01448931, 0.01443446, 0.00299327, 0.01844398,
       0.00690408, 0.00600215, 0.00117305])

## Our mockup includes redundant columns like Customer ID, but Age and Monthly income seem to be important

In [32]:
# Sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.11825044832075249, 'Age'),
 (0.1161095546327605, 'CustomerID'),
 (0.1102022435522494, 'MonthlyIncome'),
 (0.09203071961621367, 'DurationOfPitch'),
 (0.07641675653142915, 'Passport'),
 (0.056801418757947975, 'NumberOfTrips'),
 (0.05189596258815711, 'PitchSatisfactionScore'),
 (0.044556724965980676, 'NumberOfFollowups'),
 (0.03608046691534355, 'PreferredPropertyStar'),
 (0.032940076003226265, 'CityTier'),
 (0.02816586650080729, 'NumberOfChildrenVisiting'),
 (0.0257722069019292, 'NumberOfPersonVisiting'),
 (0.018443977435925882, 'Designation_Executive'),
 (0.017320561263638276, 'Occupation_Salaried'),
 (0.01697906357133775, 'ProductPitched_Basic'),
 (0.01675255470930121, 'Occupation_Small Business'),
 (0.01664753317791243, 'Gender_Female'),
 (0.01581985444658361, 'Gender_Male'),
 (0.015613319750533474, 'Occupation_Large Business'),
 (0.01500729128981444, 'TypeofContact_Company Invited'),
 (0.014755595127111928, 'TypeofContact_Self Enquiry'),
 (0.01448931072784835, 'MaritalStatus_Married'),
 (0.014434456799649541, 'MaritalStatus_Single'),
 (0.00793548004892339, 'ProductPitched_Deluxe'),
 (0.006904084637834252, 'Designation_Manager'),
 (0.006002148487193865, 'Designation_Senior Manager'),
 (0.005420862478389161, 'ProductPitched_Standard'),
 (0.002993270822096789, 'Designation_AVP'),
 (0.0028301472960769077, 'ProductPitched_Super Deluxe'),
 (0.001173050557642301, 'Designation_VP'),
 (0.0009902325284214162, 'ProductPitched_King'),
 (0.0002647595569678888, 'Occupation_Free Lancer'),
 (0.0, 'TypeofContact_nan')]

# relative high accuracy, but need to check overfitting.
One of the reasons might be imbalance in the data. This would have to be addressed with over or under sampling or a combination of both.
Another reason could be noise from our unprocessed data set.